*.log
*.bak
*.csv
*.*.pyc
*.pyc
*.conv
*.wav
.keys
/config/.keys
logs
HelpDesk.log
HelpDesk.log.*
__pycache__/
venv/
*.xml
*.chpt
*.emb
data.idx/
users.json
/Sources
/data/chapters_all.chpt
/data/embeddings_all.emb
*.mp3
/transcriptions
/transcribe_logs 
/admin_console_logs 
/analyzer_logs 
/temp1 
/documentationKredoBank

