*.log
*.bak
*.csv
*.*.pyc
*.pyc
*.conv
logs
HelpDesk.log
HelpDesk.log.*
__pycache__/
venv/
*.xml
*.chpt
*.emb
data.idx/
users.json
/Sources
/data/chapters_all.chpt
/data/embeddings_all.emb
*.mp3
/transcriptions
